node_modules/
.pnpm-debug.log
.turbo/
# Python junks files
__pycache__/
**/__pycache__/
*.py[cod]
apps/*/venv/
apps/*/utils/__pycache__/

apps/*/dist/

# Ignore node_modules in apps and packages
**/node_modules/

# Ignore mutlr build files
apps/whisperAPI/uploads/

# Ignore logs
*.log